---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Présentation – Kalifa Sankara">
  <h1>Présentation</h1>
  <p>
    Dr. Sambo Kalifa Sankara est un expert en intelligence artificielle appliquée à l’agroalimentaire.
  </p>
  <p>
    Titulaire d’un doctorat, il travaille sur des projets innovants mêlant IA, énergie solaire et développement durable, notamment en Afrique.
  </p>
  <p>
    Il intervient régulièrement en tant que conférencier dans des événements internationaux, et occupe actuellement le poste de responsable Business Intelligence chez Eni France.
  </p>
</BaseLayout>
